:root {
    --swiper-navigation-color: #72a34c;
    --swiper-pagination-color: #72a34c;
    --swiper-pagination-bullet-inactive-color: silver;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-border-radius: 0.5rem;
  }