---
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
const pathname = Astro.url.pathname.split("/");
const currentRoute = (lang === "es" ? pathname[1] : pathname[2]).replace(
  "-",
  " "
);
---

<section class="content-center text-center h-40 bg-[#efefef]">
  <h3 class="capitalize text-3xl font-bold py-2 text-gray-900">
    {currentRoute ? currentRoute : t("nav.inicio")}
  </h3>
  <p class="capitalize font-semibold">
    <a
      href={translatePath("/")}
      class="text-primary-500 hover:text-primary-600"
    >
      {t("nav.inicio")}
    </a>
    <span class="mx-2 text-gray-500">/</span>
    <span class="text-gray-500">
      {currentRoute ? currentRoute : t("nav.inicio")}
    </span>
  </p>
</section>
