---
import CardRoomItem from "./CardRoomItem.astro";
import Gal1 from "@/images/gallery/gal1.png";
import Gal2 from "@/images/gallery/gal2.png";
import Gal3 from "@/images/gallery/gal3.png";
import Gal4 from "@/images/gallery/gal4.png";
import Gal5 from "@/images/gallery/gal5.png";
import Gal6 from "@/images/gallery/gal6.png";
import Gal7 from "@/images/gallery/gal7.png";
import Gal8 from "@/images/gallery/gal8.png";
import Gal9 from "@/images/gallery/gal9.png";

const images = [Gal1, Gal2, Gal3, Gal4, Gal5, Gal6, Gal7, Gal8, Gal9];
---

<section
  class="max-w-7xl mx-auto px-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 py-12"
  id="gallery-rooms"
>
  {
    images.map((image) => (
      <CardRoomItem imagePath={image} alt={`room-${image}`} />
    ))
  }
</section>

<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";
  import "photoswipe/style.css";

  const lightbox = new PhotoSwipeLightbox({
    gallery: "#gallery-rooms",
    children: "a",
    pswpModule: () => import("photoswipe"),
  });
  lightbox.init();
</script>
