---
import { getI18N } from "@/i18n";
import ContactItem from "./ContactItem.astro";
import ContactForm from "./ContactForm";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const { title, items, form } = i18n.contact;
---

<section class="bg-[rgb(248,249,250,.5)]" id="contact">
  <div class="py-52 px-6 max-w-7xl mx-auto">
    <h2 class="text-4xl font-semibold text-center">{title}</h2>
    <div class="grid grid-cols-1 md:grid-cols-5 gap-8 py-8">
      <div class="space-y-8 md:col-span-2">
        {items.map((item) => <ContactItem {...item} />)}
      </div>
      <ContactForm client:visible {...form} />
    </div>
  </div>
</section>
