---
import { Icon } from "astro-icon/components";
---

<div class="flex gap-4">
  <a
    href="https://www.facebook.com/MKHOUSEHOSTEL"
    target="_blank"
    rel="noopener noreferrer"
  >
    <Icon name="facebook" size={30} />
  </a>
  <a
    href="https://www.instagram.com/mkhousehostel"
    target="_blank"
    rel="noopener noreferrer"
  >
    <Icon name="instagram" size={30} />
  </a>
</div>
