---
import SocialMedia from "@/components/SocialMediaTopBar.astro";
import LanguageSelector from "@/components/LanguageSelector.astro";
---

<div class="bg-black">
  <div
    class="max-w-7xl flex flex-wrap justify-between items-center py-2 px-4 mx-auto"
  >
    <SocialMedia />
    <LanguageSelector />
  </div>
</div>
