---
import { Icon } from "astro-icon/components";
---

<a
  href="https://wa.link/r3zrj9"
  target="_blank"
  class="fixed bottom-8 right-4 p-3 rounded-full bg-white z-40"
>
  <Icon name="s-whatsapp" title="Contáctanos" color="#25D366" size={60} />
</a>
